// Colors
$taf-blue-dark:					#003056;
$taf-blue:						#005191;
$taf-blue-light:				#0089c6;
$taf-blue-lightest:				#e5edf4;


$primary:       				$taf-blue-light !default;
$secondary:     				$taf-blue-dark !default;


// Body
$body-bg:                   	white !default;
$body-color:                	$taf-blue-dark !default;

$font-family-sans-serif:      	"Sun", -apple-system, BlinkMacSystemFont, sans-serif !default;

$font-size-base:             	1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                	$font-size-base * 1.25 !default;
$font-size-sm:                	$font-size-base * .875 !default;

$line-height-base:            	1.5625 !default;

$headings-font-family:        	"Sun", -apple-system, BlinkMacSystemFont, sans-serif !default;
$headings-font-weight:        	700 !default;
$headings-line-height:        	1.1 !default;

$h1-font-size:                	$font-size-base * 2.5 !default;
$h2-font-size:                	$font-size-base * 1.875 !default;
$h3-font-size:                	$font-size-base * 1.5 !default;
$h4-font-size:                	$font-size-base * 1.25 !default;
$h5-font-size:                	$font-size-base * 1.1 !default;
$h6-font-size:                	$font-size-base !default;

$border-radius:               	0 !default;
$border-radius-lg:            	0 !default;
$border-radius-sm:            	0 !default;

$spacer: 						1rem !default;

$headings-margin-bottom:      	$spacer / 1 !default;