{% if node.field_paragraphs %}
	{% for paragraph in node.field_paragraphs %}
		{% set paragraphType = paragraph.entity.type.value.0.target_id %}
		
		{% if paragraphType == 'text_with_video' %}
			{% include directory ~ '/templates/content/partials/paragraphs/text-with-video.html.twig' %}
		{% endif %}
		
		{% if paragraphType == 'text_with_image' %}
			{% include directory ~ '/templates/content/partials/paragraphs/text-with-image.html.twig' %}
		{% endif %}
		
		{% if paragraphType == 'webform' %}
			{% include directory ~ '/templates/content/partials/paragraphs/webform-paragraph.html.twig' %}
		{% endif %}
	{% endfor %}

{% endif %}