@charset "UTF-8";

// Variables
@import "lib/variables.scss";
@import "lib/animate.scss";

// Bootstrap
@import "bootstrap.scss";

@import "font-awesome/fontawesome";
@import "font-awesome/regular";
@import "font-awesome/solid";
@import "font-awesome/duotone";


///////////////////////////////////////////////////////
//
// General Scaffolding
//
///////////////////////////////////////////////////////

img {
	max-width: 100%;
	height: auto;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}


///////////////////////////////////////////////////////
//
// Typography
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Teasers
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Buttons & links
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Header
//
///////////////////////////////////////////////////////

.page-header {

}

	.page-brand {
		@include make-col-ready();
	
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		
		@include media-breakpoint-up(md) {
			@include make-col(2);
		}
	}
		


///////////////////////////////////////////////////////
//
// Navigation
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Jumbotron
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Section
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Views
//
///////////////////////////////////////////////////////




///////////////////////////////////////////////////////
//
// Page Content
//
///////////////////////////////////////////////////////	
	


	
///////////////////////////////////////////////////////
//
// Page Footer
//
///////////////////////////////////////////////////////

