<footer class="page-footer">
	
	{% block footer %}
	<div class="{{ container }}">

		<div class="row">
			<div class="page-block">
				{{ page.footer_first }}
			</div>
			<div class="page-block">
				{{ page.footer_second }}
			</div>
			<div class="page-block">
				{{ page.footer_third }}
			</div>
			<div class="page-block">
				{{ page.footer_fourth }}
			</div>
		</div>
	
	</div>
	{% endblock %}
</footer>