<header id="header" class="page-header" role="banner" aria-label="{{ 'Site header'|t}}">
	{% block head %}
	<div class="container">
		<div class="row">
			<div class="page-brand">
				<a href="/" title="Home" rel="home" class="page-brand-link">
					<img src="/themes/THEMENAME/images/logo.svg" alt="Home" class="page-brand-logo">
				</a>
			</div>
			<div class="primaryNavigation navbar-light navbar-expand-sm">
				{% if page.primary_menu %}
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="CollapsingNavbar">
					{{ page.primary_menu }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock %}
</header>