{% if node.field_impression is not empty %}
<section class="section section--impression">
	<div class="container">
		<div class="impression">
			<div class="impression-item">
				<div class="impression-item-figure-wrapper">
					<figure class="impression-item-figure"
						style="background-image: url('{{ node.field_impression.0.entity.uri.value | image_style('square_large') }}')"
					></figure>
				</div>
			</div>
			<div class="impression-item">
				<figure class="impression-item-figure"
					style="background-image: url('{{ node.field_impression.1.entity.uri.value | image_style('square_large') }}')"
				></figure>
			</div>
			<div class="impression-item">
				<figure class="impression-item-figure"
					style="background-image: url('{{ node.field_impression.2.entity.uri.value | image_style('square_large') }}')"
				></figure>
			</div>
			<div class="impression-item">
				<figure class="impression-item-figure"
					style="background-image: url('{{ node.field_impression.3.entity.uri.value | image_style('square_large') }}')"
				></figure>
			</div>
		</div>
	</div>
</section>
{% endif %}