<section class="section section--blue section--overlapTop section--marginTop">
	<div class="contentWrapper contentWrapper--large">
		<div class="box">
			<div class="landing-box">
				<div class="landing-box-content landing-box-content--third">
					<h2>Social <small>Volg ons op Twitter</small></h2>
					
					<a class="twitter-timeline" data-height="400" href="https://twitter.com/TAF_verzekeren?ref_src=twsrc%5Etfw">Tweets by TAF_verzekeren</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					
					<a href="https://twitter.com/taf_verzekeren" target="_blank" class="btn btn--withArrow btn--fixed">@TAF_verzekeren</a>
					
					
				</div>
				<div class="landing-box-content landing-box-content--third">
					<h2>Agenda <small>Actuele items</small></h2>
					
					{{ advisor_calendar }}
					
					<a href="/over-taf/taf-agenda" class="btn btn--withArrow btn--fixed">Bekijk de agenda</a>
				</div>
				<div class="landing-box-content landing-box-content--third">
					<h2>Nieuws <small>Recente ontwikkelingen</small></h2>
					
					{{ advisor_news }}
					
					<a href="/over-taf/taf-nieuws" class="btn btn--withArrow btn--fixed">Bekijk al het nieuws</a>
				</div>
			</div>
		</div>
	</div>
</section>