<section class="section section--blue section--noSpacingBottom">
	<div class="contentWrapper contentWrapper--narrow">
		<div class="box">
			<div class="landing-rating">
				<div class="landing-rating-stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fad fa-star-half"></i>
				</div>
				<div class="landing-rating-content">
					{{ content_rating }}
				</div>
			</div>
		</div>
	</div>
</section>