<section class="section section--blue section--overlapTop">
	<div class="contentWrapper contentWrapper--large">
		<div class="box">
			<div class="landing-video">
				<div class="landing-video-caption">
					{{ paragraph.entity.field_content.value | raw }}
					<!--
					<a href="{{ node.field_over_taf_link.0.url }}" class="btn btn--withArrow">
						{{ node.field_over_taf_link.title }}
					</a>
					-->
				</div>
				<div class="landing-video-embed">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ paragraph.entity.field_youtube_video_id.value }}?rel=0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>