<section class="section section--blue section--overlapTop">
	<div class="contentWrapper contentWrapper--large">
		<div class="box">
			<div class="landing-box">
				<div class="landing-box-content">
					{{ paragraph.entity.field_content.value | raw }}
					<!--
					<a href="{{ node.field_over_taf_link.0.url }}" class="btn btn--withArrow">
						{{ node.field_over_taf_link.title }}
					</a>
					-->
				</div>
				<div class="landing-box-image"
					style="background-image: url({{ paragraph.entity.field_image.entity.uri.value | image_style('original') }});"
					>
					{% if paragraph.entity.field_enable_route_link.value == '1' %}
					<div class="landing-box-brand">
						<img src="/themes/taf/images/logo-taf.svg" alt="TAF Verzekeringen" class="landing-box-brand-logo">
					</div>
					<a href="https://www.google.com/maps/place/Taf+B.V./@51.437862,5.4800483,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6d903188b1707:0x5b5f10a2787d0134!8m2!3d51.437862!4d5.482237?hl=en-US" class="landing-box-action">
						<i class="far fa-map"></i>
						Plan uw route via Google Maps
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>