<section class="section section--form">
	<div class="contentWrapper">
		<h2>{{ paragraph.entity.field_title.value }}</h2>
		{{ drupal_entity('webform', paragraph.entity.field_webform.entity.id) }}
	</div>
</section>